*{
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: none;
    box-sizing: border-box;
    list-style: none;

}


/* encabezado */
.header{
    padding: 2rem 0%; 
    background: #0a0908;
}

.containerNavLogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #EE8C0C;
}
header .containerNavLogo .navigation a{
    color: #EE8C0C;
}
.navigation ul li{
color: #EE8C0C;
display: inline-block;

}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
}


/*body*/


.btn{
    color: #f5fbef;
    background-color: #0a0908;
    font-size: 80%;
    padding: 1%;
}

.guardian .divGuardian .btnGuardian{
    width: 150px;
    height: 190px;
    padding: 1%;
    margin-bottom: 1%;
    background-color: #0a0908;
}

.guardian .divGuardian .btnGuardian a{
    color: #fefefe; 
    font-size: 250%;
}

section{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    text-align: center;
    height: 800px;
    width: 100%;
    text-decoration: none;
    color: #EE8C0C;

}
.guardian{
    background-image: url(../img/batman1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.guardian .divGuardian .subtitles{
    font-size: 50px;
    transition: 0.5s;
}

.guardian .divGuardian .subtitles:hover{
    font-size: 70px;
}

.protector{
    background-image: url(../img/theTumbler2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 35px;
    transition: 0.5s;
 }

 .protector:hover{
    font-size: 50px;
 }

.a-dark-knight{
    height:50px;
    width: 100%;
}

.contenedorKnights{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 8em;
    /*align-items: center;*/
}



 
.knight{
    background-image: url(../img/batman10.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding-bottom: 35%;
 }


.d-item{

    height: 500px;
    width: 900px;

}

 /*
.knight .contenedorKnights .divKnightRachel .rachel{
    width: 450px;
    height: 700px;
}

.knight .contenedorKnights .divKnightAlfred .alfred{
    width: 500px;
    height: 700px;
}

.knight .contenedorKnights .divKnightLucius .lucius{
    width: 400px;
    height: 700px;
}




 .divKnightRachel{
    background-color: rgb(22, 108, 95);
    height: auto;
    width: auto;
 }

 .divKnightAlfred{
    background-color: rgb(171, 5, 5);
    height: auto;
    width: auto;
 }

 .divKnightLucius{
    background-color: rgb(35, 107, 46);
    height: auto;
    width: auto;
 }


 */

 .hero{
    background-image: url(../img/Batman8.png);
    background-repeat: no-repeat;
    background-size: cover;
 }

 section .divGuardian{
    padding-top: 15%;
    transition: 0.7s;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.divGuardian:hover{
    color:#0a0908
}
 section .divProtector{
    padding-top: 15%;
    transition: 1.5s;
 }

 .divProtector:hover{
    color: #E40013; 
 }

 section .divHero{
    padding-top: 10%;
    padding-left: 7%;
    font-size: 150%;
    text-align: left;
 }
 .phrase{
padding-top: 9%;
transition: 1.5s
 }
 .phrase:hover{
    font-size: 210%; 
 }

 .logoIG{
    width:10%;
    height:10%;

 }





/*footer*/


 .pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}