
$preferedBlack: #0a0908;
$preferedOrange: #EE8C0C;


* {
    margin: 0%;
    padding: 0%;
    font-family: "Raleway", sans-serif;
    text-decoration-line: none;
    box-sizing: border-box;
    list-style: none;
  }



.header{
    padding: 1rem 0%;
    background: $preferedBlack;

    .containerNavLogo{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $preferedOrange; 
        
        /*.navigation a{
            color: #EE8C0C;
        }*/

        .navigation ul li{
            color: $preferedOrange;
            display: inline-block;
            
        }
        .navigation ul li a{
            display: block;
            padding: 0.5rem 1rem;
            text-decoration-line: none;
            color: $preferedOrange;
        }

    }
    
}




.vehiclesContainer{

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);  /* ojo acá 'auto' en vez de '1fr'*/
    background-color: blue;
    justify-content: center;
    align-items: center;

    .batpod{
        background-color: $preferedBlack;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content:space-evenly;
        padding: 40px;
        column-gap: 20px;


     .title{
        grid-column: span 4;
        text-align: center;
        margin-bottom: 40px;
        transition: 0.3s;
        align-items: center;
        justify-content: center;
        font-size: 70px;
     }

     div img{

        height:auto;
        width: 100%;
        transition: 0.3s;
        margin-bottom: 40px;

     }
      
     div img:hover{
        transform: scale(1.1);
        position: relative;
        box-shadow: 0 0 30px $preferedOrange;
    }

    }
    
    .batpod:hover{
        font-size: 100px;
        color: $preferedOrange;
        text-shadow: 0px 0px 10px $preferedOrange;
    }



    .tumbler{

        background-color: $preferedBlack;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        justify-content: space-evenly;
        padding: 40px;
        column-gap: 20px;


        .title{
            grid-column: span 4;
            text-align: center;
            margin-bottom: 40px;
            transition: 0.3s;
            align-items: center;
            justify-content: center;
            font-size: 70px;
           }





        div img{
            height:auto;
            width: 100%;
            transition: 0.3s;
            margin-bottom: 40px;
        }

        img:hover{
            transform: scale(1.1);
            position: relative;
            box-shadow: 0 0 30px $preferedOrange;
        }

        &:hover{

            font-size: 100px;
            color: $preferedOrange;
            text-shadow: 0px 0px 10px $preferedOrange;
        
         }

    }

    .theBat{

        background-color: $preferedBlack;
        grid-column: 1/4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        justify-content:space-evenly;
        padding: 40px;
        column-gap: 20px;

        

        .title{

            grid-column: span 4;
            text-align: center;
            margin-bottom: 40px;
            transition: 0.3s;
            align-items: center;
            justify-content: center;
            font-size: 70px;

        }

        div video{
            height:auto;
            width: 100%;
            transition: 0.3s;
            margin-bottom: 40px;

            video:hover{
                transform: scale(1.1);
                position: relative;
                box-shadow: 0 0 30px $preferedOrange;
            }
        }
    }
    .theBat:hover{
        font-size: 100px;
        color: $preferedOrange;
        text-shadow: 0px 0px 10px $preferedOrange;
    }

}

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    text-align: center;

    .grupo-2{
        background-color: $preferedBlack;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
        padding: 15px;
        
        .box{
            ul a{
            color: $preferedOrange;
            margin-right: 90px;
            text-decoration: none;
            }
        }

        h3{
            font-size: 12px;
            margin-bottom: 7px;
            padding-top: 15px;
        }
    }
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

